@{
    Layout = "~/Controllers/PullDog/Views/_InstallLayout.cshtml";
}

<h1>You're almost ready!</h1>
<p>
    There are two ways to configure your repository with Pull Dog.
</p>

<h2>Automatic configuration</h2>
<p>
    Push a commit to your <span class="code">master</span> branch with a <span class="code">pull-dog.json</span> file in the root directory which contains the following.
</p>
<pre>
{
    "dockerComposeYmlFilePaths": [
        "your/path/to/docker-compose.yml"
    ]
}
</pre>
<p>
    After pushing, Pull Dog will be enabled for the given repository, and will run for any future pull requests that are opened.
</p>

<h2>Manual configuration</h2>
<p>
    If you want to configure your repository manually, this is done over at Dogger (the Docker host that Pull Dog is a part of), <a href="/dashboard/pull-dog" target="_blank">here</a>.
</p>
<p><b>Important note:</b> When asked to sign up or sign in, make sure that you are using an account with the same e-mail address as your GitHub user.</p>