.rootMenu {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 250px;
    margin: 24px;
}

.documentationWrapper {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding-top: 80px;
    padding-bottom: 70px;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.documentation {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 800px;
    padding: 0 24px;
}

.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4,
.documentation h5 {
    display: block;
    margin-bottom: 0;
}

.documentation p {
    font-size: 16px;
    line-height: 150%;
    margin-top: 5px;
    margin-bottom: 8px;
}

.anchor.before {
    margin-top: 81px;
    padding-right: 12px !important;
}

.rootMenu > .menu {
    padding-left: 0;
}

.menu {
    padding-left: 15px;
    padding-bottom: 4px;
}

.menu.menu-1 > a {
    font-size: 30px;
    opacity: 1;
}

.menu.menu-2 > a {
    font-size: 20px;
    font-weight: 100;
    opacity: 0.9;
    padding-top: 10px;
}

.menu.menu-3 > a {
    font-size: 16px;
    opacity: 0.8;
    padding-top: 8px;
}

.menu.menu-4 > a {
    font-size: 14px;
    opacity: 0.7;
    padding-top: 4px;
}

.menu.menu-4:first-of-type > a {
    padding-top: 8px;
}

a {
    color: inherit;
}

.menu a {
    text-decoration: none;
    display: inline-block;
}

.menu a:hover {
    opacity: 1;
    font-weight: bold;
}

.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4 {
    z-index: -1;
}

.documentation h1 {
    font-size: 40px;
    
    padding-top: 80px;
    margin-top: -40px;
}

.documentation h2 {
    font-size: 30px;
    font-weight: 400;
    
    padding-top: 80px;
    margin-top: -50px;
}

.documentation h3 {
    font-size: 20px;
    
    padding-top: 80px;
    margin-top: -60px;
}

.documentation h4 {
    font-size: 16px;
    
    padding-top: 80px;
    margin-top: -70px;
}

.documentation pre {
    margin-right: -24px;
    margin-left: -24px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 100vw;
}

.documentation pre code {
    background-color: #333;
    border: 1px solid black;
    border-radius: 5px;

    padding: 0 6px;
    margin: 0 3px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.documentation h4 code {
    margin: 0;
}

.documentation code {
    display: inline-block;
    text-decoration: underline dashed rgba(127, 127, 127, 0.25);
}

@media (max-width: 400px) {
    .documentation pre {
        overflow-x: scroll;
    }

    .documentationWrapper {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        padding-top: 80px;
        padding-bottom: 70px;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
    }
}