@{
    Layout = "~/Domain/Controllers/PullDog/Views/_InstallLayout.cshtml";
}

<h1>You're almost ready!</h1>
<p>
    The GitHub app has been installed!
</p>
<p>
    Go to the <a href="https://dogger.io/documentation">documentation</a> to learn more on how to set up Pull Dog for a repository.
</p>